In [2]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('data.csv')

df.head()

,Unnamed: 0,acousticness,danceability,duration_ms,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence,target,song_title,artist
0,0,0.0102,0.833,204600,0.434,0.021900,2,0.1650,-8.795,1,0.4310,150.062,4.0,0.286,1,Mask Off,Future
1,1,0.1990,0.743,326933,0.359,0.006110,1,0.1370,-10.401,1,0.0794,160.083,4.0,0.588,1,Redbone,Childish Gambino
2,2,0.0344,0.838,185707,0.412,0.000234,2,0.1590,-7.148,1,0.2890,75.044,4.0,0.173,1,Xanny Family,Future
3,3,0.6040,0.494,199413,0.338,0.510000,5,0.0922,-15.236,1,0.0261,86.468,4.0,0.230,1,Master Of None,Beach House
4,4,0.1800,0.678,392893,0.561,0.512000,5,0.4390,-11.648,0,0.0694,174.004,4.0,0.904,1,Parallel Lines,Junior Boys

In [8]:
df.columns

Index(['Unnamed: 0', 'acousticness', 'danceability', 'duration_ms', 'energy',
       'instrumentalness', 'key', 'liveness', 'loudness', 'mode',
       'speechiness', 'tempo', 'time_signature', 'valence', 'target',
       'song_title', 'artist'],
      dtype='object')

In [9]:
df.drop(['Unnamed: 0', 'acousticness', 'danceability', 'duration_ms', 'energy',
       'instrumentalness', 'key', 'liveness', 'loudness', 'mode',
       'speechiness', 'tempo', 'time_signature', 'valence', 'target',], axis=1, inplace=True)

In [10]:
df.head()

       song_title            artist
0        Mask Off            Future
1         Redbone  Childish Gambino
2    Xanny Family            Future
3  Master Of None       Beach House
4  Parallel Lines       Junior Boys

In [11]:
df.rename(columns={'song_title': 'title'}, inplace=True)

In [15]:
df.head()

            title            artist
0        Mask Off            Future
1         Redbone  Childish Gambino
2    Xanny Family            Future
3  Master Of None       Beach House
4  Parallel Lines       Junior Boys

In [4]:
hot_100 = pd.read_csv("hot_100.csv")
hot_100

                          title                                artist
0                       Flowers                           Miley Cyrus
1                     Kill Bill                                   SZA
2                      Creepin'  Metro Boomin, The Weeknd & 21 Savage
3                     Anti-Hero                          Taylor Swift
4                        Unholy                Sam Smith & Kim Petras
..                          ...                                   ...
95                      Hey Mor                  Ozuna Featuring Feid
96                Gato de Noche                Nengo Flow & Bad Bunny
97               Heart To Heart                           Mac DeMarco
98  Never Gonna Not Dance Again                                  P!nk
99       Dancin' In The Country                         Tyler Hubbard

[100 rows x 2 columns]

In [21]:
data = pd.concat([hot_100, df], axis=0)
data

,title,artist
0,Flowers,Miley Cyrus
1,Kill Bill,SZA
2,Creepin',"Metro Boomin, The Weeknd & 21 Savage"
3,Anti-Hero,Taylor Swift
4,Unholy,Sam Smith & Kim Petras
...,...,...
2012,Like A Bitch - Kill The Noise Remix,Kill The Noise
2013,Candy,Dillon Francis
2014,Habit - Dack Janiels & Wenzday Remix,Rain Man
2015,First Contact,Twin Moons
2016,I Wanna Get Better,Bleachers

In [25]:
data= data.drop_duplicates()
data

,title,artist
0,Flowers,Miley Cyrus
1,Kill Bill,SZA
2,Creepin',"Metro Boomin, The Weeknd & 21 Savage"
3,Anti-Hero,Taylor Swift
4,Unholy,Sam Smith & Kim Petras
...,...,...
2012,Like A Bitch - Kill The Noise Remix,Kill The Noise
2013,Candy,Dillon Francis
2014,Habit - Dack Janiels & Wenzday Remix,Rain Man
2015,First Contact,Twin Moons
2016,I Wanna Get Better,Bleachers